{% extends "master.html" %}

{% block title %}
  My To do List
{% endblock %}

{% block content %}


    {% load static %}

    {% block styles %}
     <style>
   
                table{
            
                    color: white;
                    width: 60%;
                    border-collapse: collapse;
                    text-align: center;
                
                }
                th, td {
                    border: 1px solid blanchedalmond;
                    padding: 10px;
                    background-color:black;
                }
             

                .delete_btn{
                    background-color: red;  
                }

                a{
                    text-decoration: none;
                    color:black
                }

                button{
                    border-radius: 5px;
                    border: none;
                    padding: 10px;
                    cursor: pointer;
                }

                .cnfrm_dlt_btn{
                    background-color: red
                }
                .delete_box{
                    border: solid;
                    max-width: 400px;
                    text-align: center;
                    margin-top: 30px;
                    border-width: thin;
                }

                .delete{
                    text-align: center;
                }
                            
     </style>

     {% endblock %}
   
     <p><a href="/">Home</a></p>

        <div class="container">

                <table>

                    <tr>
                        <th>No.</th>
                        <th>Date</th>
                        <th>Task</th>
                        <th>Status</th>
                        <th>Due Date</th>
                        
                    </tr>
                    
                    <tr>
                        <td>{{mytasks.id}}</td>
                        <td>{{mytasks.created_date}}</td>
                        <td>{{mytasks.task}}</td>
                        <td>{{mytasks.status}}</td>
                        <td>{{mytasks.due_date}}</td>
                    </tr>

                </table>

                <div class="delete_box">

                    <p>Are you sure want to delete this item?</p>

                    <form method="post" action="{% url 'delete' mytasks.id %}">
                    {% csrf_token %}
                        <button type="submit" class="cnfrm_dlt_btn">Confirm</button>
                        <button><a href="{% url 'index' %}" class="cancel_btn">Cancel</a></button>
                    </form><br>

                </div>
            
        </div>
   


{% endblock %}