{% extends "master.html" %}
 {% load static %}

{% block title %}
  My To do List
{% endblock %}

   
     <!-- <p><a href="/">Home</a></p> -->
      {% block content %}

        <div class=" dltbox container">

                <table>

                    <tr>
                        <th>No.</th>
                        <th>Date</th>
                        <th>Task</th>
                        <th>Status</th>
                        <th>Due Date</th>
                    </tr>
                    
                    <tr>
                        <td>{{mytasks.id}}</td>
                        <td>{{mytasks.created_date}}</td>
                        <td>{{mytasks.task}}</td>
                        <td>{{mytasks.status}}</td>
                        <td>{{mytasks.due_date}}</td>
                    </tr>

                </table>

                <div class="delete_box">

                    <p>Are you sure want to delete this item?</p>

                    <form method="post" action="{% url 'delete' mytasks.id %}">
                    {% csrf_token %}
                    <div class="buttons container">
                        <button type="submit" class="delete_btn">Confirm</button>
                        <button><a href="{% url 'index' %}" class="cancel_btn">Cancel</a></button>
                    </div>
                    </form><br>

                </div>
            
        </div>
   


{% endblock %}