{% extends "master.html" %}

{% block title %}
  My To do List
{% endblock %}

{% block content %}

 <p><a href="/">HOME</a></p>

<h1>Update</h1>
   <form action = "{% url 'update_member' member.id %}" method="post">
    {% csrf_token %}

     <label>Task:</label>
     <input type = "text" name="task" value="{{member.task}}">

     <label>Status</label>
     <select name="status" id="status">

         <option value="pending" {% if member.status == "pending" %}selected{% endif %}>Pending</option>
         <option value="completed" {% if member.status == "completed" %}selected{% endif %}>Completed</option>

        <!-- <option value="pending">pending</option>
        <option value="completed">completed</option> -->
     </select>

     <button type="submit">submit</button>

   </form>
   


{% endblock %}